<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Recipe Search</title>
</head>
<body>
    <div class="form-container">
        <form action="/" method="GET">
            <label for="food">Food</label>
            <input type="text" name="food" id="food">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="cards-container">
        <% for( let index = 0; index < c.length; index++ ) { %>
            <div class="card">
                <p class="card-text"><%= c[index].label %></p>
                <img src="<%= c[index].img %>">
            </div>
        <% } %>
    </div>
    <h1><%= err %></h1>
</body>
</html>
